<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sbb</title>

    <!-- 폰트어썸 불러오기 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <link rel="stylesheet" href="/resource/global.css">



</head>
<body>
<!-- 제이쿼리 불러오기 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- toastr 불러오기 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
<link href="https://jhs512.github.io/toastr/toastr.css" rel="stylesheet">


<link href="https://cdn.jsdelivr.net/npm/daisyui@4.0.8/dist/full.min.css" rel="stylesheet" type="text/css"/>
<script src="https://cdn.tailwindcss.com"></script>

<!--navbar-->

<div class="navbar bg-base-100 flex items-center justify-between">
    <div class="flex-none">
        <a href="/" class="btn btn-ghost text-xl">SBB</a>
    </div>
    <div class="flex-1 flex justify-end">
        <a href="/user/signup" class="btn btn-ghost text-xl ml-2">회원가입</a>
        <a class="btn btn-ghost text-xl" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
        <a class="btn btn-ghost text-xl" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
    </div>
</div>




<th:block layout:fragment="content"></th:block>

</body>
</html>