<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/daisyui@4.0.8/dist/full.min.css" rel="stylesheet">

<div class="mt-2 mx-2 overflow-x-auto">
    <table class="w-full table table-zebra px-2">
        <thead class="bg-info-content text-base-100">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성일시</th>
            </tr>
        </thead>
        <tbody>
        <tr class="bg-base-200" th:each="question, loop : ${questionList}">
            <td class="border border-white px-4 py-2" th:text="${loop.count}"></td>
            <td class="border border-white px-4 py-2">
                <a class="text-primary-500" th:href="@{|/question/detail/${question.id}|}"
                   th:text="${question.subject}"></a>
            </td>
            <td class="border border-white px-4 py-2" th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
</div>