<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/daisyui@4.0.8/dist/full.min.css" rel="stylesheet">

<div class="mt-2 mx-3">
    <!-- 질문 -->
    <h2 class="border-b border-base-300 py-2" th:text="${question.subject}"></h2>
    <div class="card w-96 bg-base-100 border border-base-300 mt-3 w-full px-2">
        <div class="card-body">
            <div class="card-text whitespace-pre-line" th:text="${question.content}"></div>
            <div class="flex justify-end">
                <div class="badge badge-ghost dark:text-gray-300 p-2 text-start">
                    <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 답변의 갯수 표시 -->
    <h5 class="border-b border-base-300 my-3 py-2" th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
    <!-- 답변 반복 시작 -->
    <div class="card w-96 bg-base-100 border border-base-300 mt-3 w-full px-2"
         th:each="answer : ${question.answerList}">
        <div class="card-body">
            <div class="card-text whitespace-pre-line" th:text="${answer.content}"></div>
            <div class="flex justify-end">
                <div class="badge badge-ghost dark:text-gray-300 p-2 text-start">
                    <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 답변 반복 끝  -->
    <!-- 답변 작성 -->
    <style>
        /* 커스텀 포커스 스타일 */
        .form-textarea:focus,
        .btn:focus {
            outline: 2px solid #D1D5DB; /* 변경하고 싶은 색상으로 설정 */
        }
    </style>
    <form th:action="@{|/answer/create/${question.id}|}" method="post" class="my-3">
        <div class="form-control">
            <textarea name="content" id="content" rows="5" class="form-textarea"></textarea>
        </div>
        <input type="submit" value="답변등록" class="btn btn-primary my-2">
    </form>
</div>