<html layout:decorate="~{global/layout}">
<div layout:fragment="content" class="mt-2 mx-3">
    <!-- 질문 -->
    <h2 class="border-b border-base-300 py-2" th:text="${question.subject}"></h2>
    <div class="card w-96 bg-base-100 border border-base-300 mt-3 w-full px-2">
        <div class="card-body">
            <div class="card-text whitespace-pre-line" th:text="${question.content}"></div>
            <div class="flex justify-end">
            <div class="flex justify-end badge badge-ghost dark:text-gray-300 p-2 text-start ">
                <div class="mr-2">
                    <span th:if="${question.author != null}" th:text="${question.author.username}"></span>
                </div>
                <div>
                    <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- 답변의 갯수 표시 -->
    <h5 class="border-b border-base-300 my-3 py-2" th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
    <!-- 답변 반복 시작 -->
    <div class="card w-96 bg-base-100 border border-base-300 mt-3 w-full px-2"
         th:each="answer : ${question.answerList}">
        <div class="card-body">
            <div class="card-text whitespace-pre-line" th:text="${answer.content}"></div>
            <div class="flex justify-end">
            <div class="badge badge-ghost dark:text-gray-300 p-2">
                <div class="mr-2">
                    <span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
                </div>
                <div>
                    <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- 답변 반복 끝  -->
    <!-- 답변 작성 -->

    <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3">
        <div th:replace="~{global/form_errors :: formErrorsFragment}"></div>
        <div class="flex justify-between items-center">
            <textarea th:field="*{content}" rows="5"
                      class="form-textarea focus:outline-gray-400 mx-3 w-full"></textarea>

<!--            <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" rows="1"-->
<!--                      class="form-textarea focus:outline-gray-400 mx-3 w-full"></textarea>-->
<!--            <textarea sec:authorize="isAuthenticated()" disabled th:field="*{content}" rows="5"-->
<!--                      class="form-textarea focus:outline-gray-400 mx-3 w-full"></textarea>-->


        </div>
        <div class="mt-2 flex gap-2 flex justify-end">
            <input type="submit" value="답변등록" class="btn btn-outline btn-primary mr-3">
        </div>
    </form>
</div>