<html layout:decorate="~{global/layout}">
<div layout:fragment="content" class="mt-2 mx-3">
    <h2 class="border-b border-base-300 py-2">질문 등록</h2>
    <form th:object="${questionForm}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div th:replace="~{global/form_errors :: formErrorsFragment}"></div>
        <div class="my-3 px-2 ">
            <label for="subject" class="form-label">제목</label>
            <input type="text" th:field="*{subject}" class="form-control input input-bordered w-full mt-2">
        </div>
        <div class="mb-3 px-2">
            <label for="content" class="form-label">내용</label>
            <textarea th:field="*{content}" class="form-control textarea textarea-bordered textarea-md w-full mt-2" rows="6"></textarea>
        </div>
        <div class="mt-2 flex gap-2 flex justify-end">
            <input type="submit" value="저장하기" class="btn btn-outline btn-primary mr-3">
        </div>
    </form>
</div>
</html>